<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Formulaire de contact
  </h1>
</div>
<div class="home-nav">
  <a mat-raised-button routerLinkActive="mat-accent" [routerLinkActiveOptions]="{exact: true}" routerLink="/" color="primary">Accueil</a>
  <a mat-raised-button routerLinkActive="mat-accent" [routerLinkActiveOptions]="{exact: true}" routerLink="/contact" color="primary">Contact</a>
  <a mat-raised-button routerLinkActive="mat-accent" [routerLinkActiveOptions]="{exact: true}" routerLink="/messages" color="primary">Messages</a>
</div>
<mat-divider></mat-divider>

<router-outlet></router-outlet>
