<p *ngIf="responseMessage">{{responseMessage}}</p>
<form [formGroup]="contactForm" (ngSubmit)="onSubmit()" novalidate class="contact-form" autocomplete="off">
  
  <mat-form-field class="contact-form-field">
    <input matInput type="text" placeholder="Nom" [formControl]="contactFormName" required>
    <mat-error *ngFor="let validation of validationMessages.name">
      <mat-error *ngIf="contactForm.get('contactFormName').hasError(validation.type) && (contactForm.get('contactFormName').dirty || contactForm.get('contactFormName').touched)">{{validation.message}}</mat-error>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="contact-form-field">
    <input matInput type="text" placeholder="Email" [formControl]="contactFormEmail" required>
    <mat-error *ngFor="let validation of validationMessages.email">
      <mat-error *ngIf="contactForm.get('contactFormEmail').hasError(validation.type) && (contactForm.get('contactFormEmail').dirty || contactForm.get('contactFormEmail').touched)">{{validation.message}}</mat-error>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="contact-form-field">
    <input matInput type="text" placeholder="Objet" [formControl]="contactFormSubject" required>
    <mat-error *ngFor="let validation of validationMessages.subject">
      <mat-error *ngIf="contactForm.get('contactFormSubject').hasError(validation.type) && (contactForm.get('contactFormSubject').dirty || contactForm.get('contactFormSubject').touched)">{{validation.message}}</mat-error>
    </mat-error>
  </mat-form-field>

  <mat-form-field hintLabel="Minimum 10 caractères" class="contact-form-field">
    <textarea matInput placeholder="Entrez votre message" [formControl]="contactFormMessage" required rows="10" cols="50"></textarea>
    <mat-hint align="end">{{contactFormMessage.value?.length || 0}}/10</mat-hint>
  </mat-form-field>
  <mat-spinner *ngIf="loading" [diameter]="40"></mat-spinner>
  <button mat-raised-button type="submit" [disabled]="!contactForm.valid" color="primary">Submit</button>

</form>